#center {
margin:auto;
width: 50%;
padding:10px;
text-align:center;
}

body{
background-color: rgb(174, 182, 255);

}

.title {
    color:rgb(156, 105, 204);
    text-align:center;
    font-weight:600;
    font-size:50px;
    font-family:'Georgia';
    font-stretch:expanded;
    text-decoration:underline;
    line-height:100px;
}

.picture {
display:block;
margin-left:auto;
margin-right:auto;

}

.Albums {
    text-align:center;
}