#fancy{

    color:rgb(255, 174, 215);
    text-align:center;
    font-weight:800;
    font-size:50px;
    font-family:'Georgia';
    font-style:italic;
    font-stretch:expanded;
    text-decoration:underline;
    line-height:100px;
    
    }
    #swift{
    color:rgb(216, 147, 245);
    font-family:Tahoma;
    font-style:italic;
    font-size:35px;
    
    
    }
    
    
    .border{
      width:200;
      height:200;
    }
    
    .square {
        display: inline-block;
        border: 2px solid rgb(228, 71, 102);
        padding:10px;
    }
    
    .square h1{
    color: rgb(100, 100, 255);
    
    }
    
    #lax{
    color:rgb(161, 248, 250);
    
    }