* {
box-sizing: border-box;
}

header {
    background-color:rgb(163, 174, 204) ;
    color:black;
    padding: 30px;
    text-align:center;
    font-size: 35px;
    font-family: Georgia;
}

nav{
float: left;
width: 30%;
height: 600px;
background:rgb(93, 114, 161);
padding: 20px;
}

nav ul{
    list-style-type:none;
    padding: 0;
}

article {
float: left;
padding: 20px;
width: 70%;
background:rgb(192, 196, 204);
height: 600px;

}

section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: rgb(192, 153, 229);
    padding: 10px;
    text-align: center;
    color:rgb(100, 63, 168);
}