@font-face {
    font-family:'custom';
    src: url(Darling.ttf);
}

.navbar {
width:100%
background-color: pink;
padding: 20px;
font-family: 'custom';
font-size: 30px;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

.container-fluid {
    width: 100%;
    background-color:rgb(255, 139, 220) ;
}

* {
box-sizing: border-box;
}

header {
    background-image:linear-gradient(rgb(230, 212, 238),rgb(194, 166, 221), rgb(167, 136, 173));
    color:black;
    padding: 30px;
    text-align:center;
    font-size: 35px;
    font-family:'custom';
}

nav{
float: left;
width: 30%;
height: 600px;
background:rgb(93, 114, 161);
padding: 20px;
}

nav ul{
    list-style-type:none;
    padding: 0;
}

article {
float: left;
padding: 20px;
width: 70%;
background:rgb(192, 196, 204);
height: 600px;

}

section:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-image:linear-gradient(rgb(215, 202, 228),rgb(218, 179, 218));
    padding: 10px;
    text-align: center;
    color:rgb(100, 63, 168);
}